* {
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #eee;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #fff;
}

#wrapper {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: RGBA(45, 44, 43, 1.00); 
  margin-bottom: 64px;
}
aside {
  background: RGBA(26, 26, 26, 1.00);
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-x: hidden;
}

aside #navbar header {
  font-size: 32px;
  font-weight: 600;
  background: RGBA(53, 58, 115, 1.00);
  color: aliceblue;
  padding: 20px 15px;
}
aside #navbar #link-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px;
}

aside #navbar #link-container .nav-link{
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  text-align: justify;
  padding: 10px 0 10px 30px ;
  text-transform: capitalize;
}

aside #navbar #link-container .nav-link:nth-child(even){
  background: RGBA(103, 112, 231, 0.30)
}

aside #navbar #link-container .nav-link:nth-child(even):hover{
  background: RGBA(103, 112, 231, 0.60);
  font-weight: 500;
  border-radius: 10px;

}

aside #navbar #link-container .nav-link:nth-child(odd):hover{
  background: RGBA(103, 112, 231, 0.50);
  font-weight: 500;
  border-radius: 10px;
}



#main-doc {
  width: 80%;
  margin-left: 20%;
  font-weight: 500
}

#main-doc .main-section {
  padding: 20px 40px;
}

#main-doc .main-section header{
  font-size: 32px;
  font-weight: 600;
}

#main-doc .main-section p{
  padding: 0 20px;
}

#main-doc .main-section p.note{
  padding: 15px 10px;
}

#main-doc .main-section .example_container {
  border: 1px solid #ddd;
  background: RGBA(53, 58, 115, 1.00);
  border-radius: 5px;
  margin: auto;
  width: 80%;
}

#main-doc .main-section .example_container h3 {
  padding: 5px 20px;
  
}

#main-doc .main-section .example_container h3::after{
  content: "</>";
  float: right;
}

#main-doc .main-section pre {
  background: RGBA(60, 60, 60, 1.00);
  font-family: menlo;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0;
  word-wrap:break-word;
  white-space: pre-wrap; /* Word-wrap for Firefox and Opera */
  font-size: 13.5px;
  padding: 15px 0;
}

#main-doc .main-section pre code {
  font-weight: 500;
  font-size: 14.5px;
  font-weight: 600;
}

h1,h2,h3,h4 {
  line-height: 1.6px;
  
}
h1 {
  line-height: 1.6px;
  padding: 20px 20px;
  color: RGBA(103, 112, 231, 1.00);
}

h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 8px;
}
h3, h4 {
  font-size: 20px;
  font-style: italic;
}

strong {
  color: RGBA(103, 112, 231, 1.00);
  font-weight: 600;
}

p.note {
  background:  RGBA(251, 223, 79, 0.80);
  border: 1px solid RGBA(147, 147, 147, 1.00);
  border-radius: 5px;
  color: #222;
  font-weight: 600;
}

p.note strong {
  color: #222;
  font-weight: 900;
  font-size: 22px
}

hr {
  margin: 50px auto;
  width: 50%;
}

ul {
  list-style: none;
  padding:  10px 50px;
}

ul li {
  padding: 10px;
  background: RGBA(229, 229, 229, 1.00);
  color: #222;
}

ul li:nth-child(even) {
  background: RGBA(147, 147, 147, 1.00);
}

ul li strong {
  font-weight: 900;
  color: #222;
  font-size: 18px
}

a {
  text-decoration: none;
  color: RGBA(103, 112, 231, 1.00);
}

a:hover {
  text-decoration: underline;
  color: RGBA(103, 112, 231, 1.00);
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  text-align: center;
}

.footer_innercontainer {
  background: RGBA(52, 58, 115, 1.00);
  color: #efefef;
  padding: 20px 0;
  font-size: 20px;
  margin-left: 20%;
}


/*———————————————————————————— @ Media Queries ============================*/
@media screen and (max-width: 1224px) {
  
  aside {
    width: 25%;
  }

  aside #navbar header {
    font-size: 28px;
    padding: 18px
  }
  
  #main-doc {
    width: 75%;
    margin-left: 25%;
  }

  #main-doc .main-section {
    padding: 10px 20px;
  }
  
  aside #navbar #link-container .nav-link{
    font-size: 24px;
    padding: 8px 0 8px 20px ;
  }
  
}

@media screen and (max-width: 900px) {
  
  aside {
    width: 30%;
  }

  aside #navbar header {
    font-size: 28px;
    padding: 18px
  }
  
  #main-doc {
    width: 70%;
    margin-left: 30%;
  }

  #main-doc .main-section {
    padding: 10px 20px;
  }
  
  aside #navbar #link-container .nav-link{
    font-size: 24px;
    padding: 8px 0 8px 20px ;
  }
  
}

@media screen and (max-width: 750px) {
  
  html, body {
  font-size: 16px
}

h1,h2,h3,h4 {
/*  line-height: 1.4px;*/
  font-weight: 600;
  padding: 5px 10px;
  word-wrap:break-word;
  white-space: pre-wrap; /* word-wrap for Firefox */
}

h1,h2 {
  font-size: 20px
}
h3, h4 {
  font-size: 18px;
  font-style: italic;
}
  
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  aside {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
/*    z-index: 1;*/
    overflow-x: hidden;
  }

  aside #navbar header {
    font-size: 28px;
    padding: 18px
  }
  
  #main-doc {
    width: 100%;
    margin-left: 0;
  }

  #main-doc .main-section {
    padding: 0px 8px;
  }
  
  #main-doc .main-section header{
  font-size: 28px;
  font-weight: 600;
    padding: 0 0 0 5px;
}
  
  aside #navbar #link-container .nav-link{
    font-size: 18px;
    padding: 5px 0 5px 8px;
    text-align: center;
  }
  
  #main-doc .main-section pre {
    word-wrap:break-word;
    white-space: pre-wrap; /* word-wrap for Firefox */
    font-size: 12.5px;
    padding: 5px 0;
  }

  #main-doc .main-section .example_container {
    width: 95%;
    background: RGBA(53, 58, 115, 1.00);
  }
  
  ul {padding: 2px 10px}

  #main-doc .main-section h1,h2{
    padding: 0 2px;
  }

  #main-doc .main-section p{
    padding: 0 8px;
  }
  
  #main-doc .main-section p.note{
    padding: 5px 10px;
    width: 97%;
    margin: 15px auto;
  }

  .footer_innercontainer {
    margin-left: 0%;
  }
}


